[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backoff = {version = "==2.2.1", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
boto3 = {version = "==1.42.26", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
botocore = {version = "==1.42.26", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
chardet = {version = "==5.2.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
ciso8601 = {version = "==2.3.3", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
clevercsv = {version = "==0.8.4", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
fastavro = {version = "==1.12.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
jmespath = {version = "==1.0.1", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
jsonschema = {version = "==2.6.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
numpy = {version = "==2.4.1", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
orjson = {version = "==3.11.5", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
packaging = {version = "==25.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
pandas = {version = "==2.3.3", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
pyarrow = {version = "==21.0.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
python-dateutil = {version = "==2.9.0.post0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
pytz = {version = "==2025.2", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
regex = {version = "==2025.11.3", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
s3transfer = {version = "==0.16.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
simplejson = {version = "==3.20.2", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
singer-encodings = {version = "==0.3.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
singer-python = {version = "==6.3.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
six = {version = "==1.17.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
tzdata = {version = "==2025.3", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
urllib3 = {version = "==2.6.3", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}
voluptuous = {version = "==0.16.0", markers = "python_full_version >= \"3.13.3\" and python_version < \"4.0\""}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
